@font-face {
    font-family: "Work Sans";
    src: url("./fonts/WorkSans.ttf") format("truetype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "Commissioner";
    src: url("./fonts/Commissioner.ttf") format("truetype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik.ttf") format("truetype-variations");
    font-weight: 100 900;
}

header,
main,
footer {
    margin: 0;
    font-size: 18px;
    font-family: "Commissioner", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    outline: none !important;
}
